/* @media screen and (min-width:780px){

    ul{
        list-style: none;
    }

    ul li {
        display: inline-block;
        padding: 0 40px;
        background-color: grey;
        color: white;
    }
} */

/* display: flex */
@media screen and (min-width:780px){

    ul{
        list-style: none;
        display: flex;
        justify-content: center;
    }

    ul li {
        padding: 0 40px;
        margin: 10px;
        background-color: grey;
        color: white;
    }
}